<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.ExamDao">
    <select id="selectTestPaper" parameterType="string" resultType="com.tledu.cn.pojo.TestPaper">
        select * from testPaper where t_id=#{value}
    </select>

    <insert id="studentRegist" parameterType="com.tledu.cn.pojo.Student">
        insert into student(stu_id,stu_name,stu_phone,stu_checkNum,t_id,stu_isdelete,stu_createTime)
        values (#{stu_id},#{stu_name},#{stu_phone},#{stu_checkNum},#{t_id},#{stu_isdelete},#{stu_createTime})
    </insert>

    <select id="studentLogin" parameterType="string" resultType="com.tledu.cn.pojo.Student">
        select * from student where stu_id=#{value}
    </select>

    <select id="selectExam" parameterType="string" resultType="com.tledu.cn.pojo.TestQuestionBank">
        select * from testQuestionBank where t_id=#{value} and tq_isdelete = 0
    </select>

    <select id="findStudentAnswerByTq_id" parameterType="com.tledu.cn.pojo.StudentAnswer" resultType="com.tledu.cn.pojo.StudentAnswer">
        select * from stu_answer where tq_id = #{tq_id} and stu_id = #{stu_id}
    </select>

    <update id="updateAnswer" parameterType="com.tledu.cn.pojo.StudentAnswer">
        update stu_answer set sa_answer =#{sa_answer} where tq_id = #{tq_id}
    </update>

    <insert id="saveAnswer" parameterType="com.tledu.cn.pojo.StudentAnswer">
        insert into stu_answer values(#{sa_id},#{sa_type},#{sa_answer},#{tq_id},#{t_id},#{stu_id},#{sa_score})
    </insert>

    <update id="setScore" >
        update stu_answer set sa_score = #{tq_score} where tq_id =#{tq_id}
    </update>

    <select id="findStudentById" parameterType="com.tledu.cn.pojo.StudentAnswer" resultType="com.tledu.cn.pojo.Student">
            select * from student where stu_id = #{stu_id}
    </select>

    <select id="calculatedScore" parameterType="com.tledu.cn.pojo.Student" resultType="com.tledu.cn.pojo.StudentAnswer">
        select  * from stu_answer where stu_id =#{stu_id} and t_id = #{t_id}
    </select>

    <update id="setFinishTimeandScore" parameterType="com.tledu.cn.pojo.Student">
        update student set stu_finishTime = #{stu_finishTime} , stu_score=#{stu_score} where stu_id=#{stu_id}
    </update>

    <update id="setScore1" parameterType="string">
        update stu_answer set sa_score = 0 where tq_id=#{tq_id}
    </update>


</mapper>
    