<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.QuestionBankDao">

    <select id="findAllQuestionBank" parameterType="string" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_isdelete = 0 and u_id=#{value}
    </select>



    <insert id="addSingleChoice" parameterType="com.tledu.cn.pojo.QuestionBank">
        insert into questionBank values (#{q_id},#{q_type},#{q_content},#{q_a},#{q_b},#{q_c},#{q_d},#{q_score},#{q_answer},#{q_classify},#{u_id},#{q_isdelete},#{q_createTime})
    </insert>

    <insert id="addBriefAnswer" parameterType="com.tledu.cn.pojo.QuestionBank">
       insert into questionBank values (#{q_id},#{q_type},#{q_content},#{q_a},#{q_b},#{q_c},#{q_d},#{q_score},#{q_answer},#{q_classify},#{u_id},#{q_isdelete},#{q_createTime})
    </insert>

    <update id="deleteQuestionBank" parameterType="com.tledu.cn.pojo.QuestionBank">
        update questionBank set q_isdelete=1 where q_id=#{q_id}
    </update>



</mapper>
    