<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.QuestionBankDao">

    <select id="findAllQuestionBank" parameterType="string" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_isdelete = 0 and u_id=#{value}
    </select>


    <select id="findTopicByQid" parameterType="string" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_id= #{value} and q_isdelete = 0
    </select>


    <insert id="addSingleChoice" parameterType="com.tledu.cn.pojo.QuestionBank">
        insert into questionBank values (#{q_id},#{q_type},#{q_content},#{q_a},#{q_b},#{q_c},#{q_d},#{q_score},#{q_answer},#{q_classify},#{u_id},#{q_isdelete},#{q_createTime})
    </insert>

    <insert id="addBriefAnswer" parameterType="com.tledu.cn.pojo.QuestionBank">
       insert into questionBank values (#{q_id},#{q_type},#{q_content},#{q_a},#{q_b},#{q_c},#{q_d},#{q_score},#{q_answer},#{q_classify},#{u_id},#{q_isdelete},#{q_createTime})
    </insert>

    <update id="deleteQuestionBank"  parameterType="string" >
        update questionBank set q_isdelete=1 where q_id=#{value}
    </update>

    <update id="updateSingleChoice"  parameterType="com.tledu.cn.pojo.QuestionBank" >
        update questionBank set q_content=#{q_content},q_a=#{q_a},q_b=#{q_b},q_c=#{q_c},q_d=#{q_d},q_answer=#{q_answer},q_score=#{q_score},q_classify=#{q_classify} where q_id=#{q_id} and u_id=#{u_id}
    </update>

    <update id="updateBriefAnswer"  parameterType="com.tledu.cn.pojo.QuestionBank" >
        update questionBank set q_content=#{q_content},q_a=#{q_a},q_b=#{q_b},q_c=#{q_c},q_d=#{q_d},q_answer=#{q_answer},q_score=#{q_score},q_classify=#{q_classify} where q_id=#{q_id} and u_id=#{u_id}
    </update>

    <select id="findAllSingleChoice" parameterType="string" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_type="单选题" and q_isdelete=0 and u_id=#{value}
    </select>

    <select id="findAllBriefAnswer" parameterType="string" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_type="简答题" and q_isdelete=0 and u_id=#{value}
    </select>

    <select id="fuzzySearch" resultType="com.tledu.cn.pojo.QuestionBank">
        select * from questionBank where q_content like concat('%',#{q_content},'%') and u_id=#{u_id}
    </select>

    <delete id="batchDelete" parameterType="string">
        delete from questionBank where q_id in
        <foreach collection="list" item="q_id" open="(" close=")" separator=",">
            #{q_id}
        </foreach>
    </delete>



</mapper>
    