<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.TestPaperDao">
    <select id="findAllTestPaper"  parameterType="string" resultType="com.tledu.cn.pojo.TestPaper">
        select * from testPaper where u_id=#{value} and t_isdelete = 0
    </select>

    <insert id="addTestPaper" parameterType="com.tledu.cn.pojo.TestPaper">
        insert into testPaper values (#{t_id},#{t_title},#{t_classify},#{t_status},#{t_isdelete},
        #{t_createTime},#{t_checkNum},#{t_url},#{t_startTime},#{t_endTime},#{u_id})
    </insert>
    
    <update id="delTestPaper" parameterType="string">
        update testPaper set t_isdelete=1 where t_id=#{value}
    </update>

    <update id="updateTestPaper" parameterType="com.tledu.cn.pojo.TestPaper">
        update testPaper set t_title=#{t_title},t_classify=#{t_classify},t_startTime=#{t_startTime},
        t_endTime=#{t_endTime} where t_id=#{t_id}
    </update>

    <insert id="addTopic" parameterType="com.tledu.cn.pojo.TestQuestionBank">
        insert into testQuestionBank values(#{tq_id},#{tq_type},#{tq_content},#{tq_a},#{tq_b},#{tq_c},#{tq_d},#{tq_score},#{tq_answer},#{tq_classify},#{u_id},#{tq_isdelete},#{tq_createTime},#{t_id})
    </insert>

    <select id="findAllTestQuestionBank"  parameterType="string" resultType="com.tledu.cn.pojo.TestQuestionBank">
        select * from testQuestionBank where t_id = #{value} and tq_isdelete = 0
    </select>

    <insert id="addTopicToTestPaperBybach" parameterType="com.tledu.cn.pojo.TestQuestionBank">
        insert into testQuestionBank values
        <foreach collection="list" item="testQuestionBank" separator=",">
            (#{testQuestionBank.tq_id},#{testQuestionBank.tq_type},#{testQuestionBank.tq_content},#{testQuestionBank.tq_a},#{testQuestionBank.tq_b},#{testQuestionBank.tq_c},#{testQuestionBank.tq_d},#{testQuestionBank.tq_score},#{testQuestionBank.tq_answer},#{testQuestionBank.tq_classify},#{testQuestionBank.u_id},#{testQuestionBank.tq_isdelete},#{testQuestionBank.tq_createTime},#{testQuestionBank.t_id})
        </foreach>
    </insert>


    <update id="openTestPaper" parameterType="string">
        update testPaper set t_status = 1 where t_id = #{value}
    </update>

    <update id="deleteTopicFromTestPaper" parameterType="string">
        update testQuestionBank set tq_isdelete = 1 where tq_id = #{tq_id}
    </update>

    <update id="updateTopIcId" parameterType="string">
        update testQuestionBank set tq_id = #{tq_id1} where tq_id = #{tq_id}
    </update>

    <update id="deleteTopicFromTestPaperByBach" parameterType="string">
        update testQuestionBank set tq_isdelete = 1 where tq_id in
        <foreach collection="list" item="tq_id" open="(" close=")" separator=",">
            #{tq_id}
        </foreach>
    </update>

    <select id="findTestPaperURl" parameterType="string" resultType="com.tledu.cn.pojo.TestPaper">
        select * from testPaper where t_id=#{value}
    </select>

    <select id="findTopicByTq_id"  parameterType="string" resultType="com.tledu.cn.pojo.TestQuestionBank">
        select* from testQuestionBank  where tq_id=#{tq_id}
    </select>


    <select id="queryScore" parameterType="string" resultType="com.tledu.cn.pojo.Student">
        select * from student where t_id = #{value}
    </select>

    <select id="testAndAnswer" resultType="com.tledu.cn.pojo.TestAndAnswer">
        select  t.*,s.sa_answer,s.sa_score   FROM testQuestionBank t inner join stu_answer s on t.tq_id=s.tq_id where t.t_id= #{t_id} and s.stu_id= #{stu_id}
    </select>

    <select id="findTestPaperByCheckNum" parameterType="string" resultType="com.tledu.cn.pojo.TestPaper">
        select * from testPaper where t_checkNum = #{value}
    </select>

</mapper>
    