<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.UserDao">


    <insert id="regist" parameterType="com.tledu.cn.pojo.User" >
        insert into user values(#{u_id},#{u_phone},#{u_password},#{u_username},#{u_status},#{u_isdelete},#{u_createTime})
    </insert>

    <select id="findUser" parameterType="com.tledu.cn.pojo.User" resultType="com.tledu.cn.pojo.User">
       select * from user where u_phone =#{u_phone} AND u_password =#{u_password} and u_status=0;
    </select>


</mapper>